.custom_a {
  background-color: transparent !important;
  text-decoration: none !important;
}

.custom_a:link {
  background-color: transparent !important;
  text-decoration: none !important;
}
.custom_a:visited {
  background-color: transparent !important;
  text-decoration: none !important;
}
.custom_a:hover {
  background-color: transparent !important;
  text-decoration: none !important;
}
.custom_a:active {
  background-color: transparent !important;
  text-decoration: none !important;
}

.card_body_bg_color {
    background-color: #17254D;
}